@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* * * * * * *   RESET   * * * * * * */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #FFFFFF;
    --colorBackground: #F6F5F5;
    --colorPrincipal: #ff61a3;
    --colorDetalles: #FEDD89;
    --colorTexto: #3196fb;
/*  --colorTexto: #31383F;
    --colorPrincipal: #DD8EA4;
 */

}

body {
    text-decoration: none;
    letter-spacing: 0.8px;
    overflow-x: hidden;
}


h1{
    font-size: 32px;
    font-family: "Kurale", serif;
    font-style: normal;
    padding-bottom: 12px;
}

h2{
    font-size: 28px;
    font-family: "Kurale", serif;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 10px;
    color: var(--colorPrincipal);
    text-align: center;
}

h3{
    font-size: 22px;
    font-family: "Kurale", serif;
    font-style: normal;
    padding-bottom: 10px;
    color: var(--colorDetalles);
}

h4 {
    font-family: sans-serif;
}


/* p CHECKEADO!! */
p {
    font-family: "Inter", sans-serif;
    font-weight: 400; 
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0px 30px;
    color: var(--colorTexto);
    text-align: justify;
}


a {
    text-decoration: none;
    color: black;
    line-height: 1.8rem;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
}

/* p CHECKEADO!! */
span{
    color: var(--colorTexto);
    font-weight: 600;
    font-size: 14px;
}


ul{
    list-style-type: none;
}

.Page-Content{
    padding: 0px 30px;
}



/* * * * * * *  FIN reset   * * * * * * */


button{
    align-items: center;
    justify-content: center;
    transition: 0.1s box-shadow ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: -2px -2px 2px 0px #fff9, -2px -2px 2px 0px #fff9, 2px 2px 2px 0px #0001, 2px 2px 2px 0px #0001;
    border: none;
}

hr{
    width:95%; 
    color: var(--colorTexto); 
    margin: 10px 0px;
}




@media (min-width: 650px) {
    p{
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 0px 50px;

    }
}

@media (min-width: 800px) {
}

